a:visited {
    color: black !important;
 }

 nav .nav-link:visited {
    color: white !important;
}

nav .navbar-brand:visited {
    color: white !important;
}

footer .footer-link {
    color: white !important;
 }
 
footer .footer-link:visited {
     color: white !important;
 }

 #root {
    min-height: 80vh;
}

.footer-article {
    color: black;
    text-align: left;
    padding: 22px 0px;
 }